<div class="row">
    <div class="col-lg-12">
        <div class="trending-tittle">
            <strong>Trending now</strong>
            <!-- <p>Rem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
            <div class="trending-animated">
                <ul id="js-news" class="js-hidden">
                    {% for trend_article in trending_now_articles %}
                        <li class="news-item"><a style='text-decoration: none' href="{% url 'article-detail-page' trend_article.slug %}">{{ trend_article.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
    </div>
</div>